@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e5e5e5;

}

.entreLogo {
  position: fixed;
  top: 29px;
  color: #003399;
  text-align: center;
  background-color: #ffffff;
  width: 100vw;
}

.subtitle {
  display: inline-grid;
  grid-template-columns: 35% 10% 10% 10% 35%;
  position: absolute;
  top: 168px;
  width: 100vw;
  text-align: center;
  justify-items: center;
}

.pages {
  top: 212px;
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  background-color: #003399;
  color: #ffffff;
  width: 36px;
  height: 36px;
  font-size: 16px;
  line-height: 220%;
  align-items: center;
}

.one {
  grid-column: 2
}

.roles {
  position: absolute;
}
